body {
    margin: 0;
    font-family: Arial;
}

.hero {
    background: linear-gradient(to right, #a11d33, #032d30);
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 150px;
}

button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
}