body {
    font-family: Montserrat;
    margin: 0;
    background-color: #e25959;
}

header {
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px;
    background: rgb(145, 10, 10);
}

footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    color: black ;
}